body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #7c7b80;
font-size: 16px;}

h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7c7b80;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

button {
    background-color: #49a46c;
    border-radius: 4px;
    border: 0px solid #dedede;
    padding: 15px 40px 15px 40px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

button:hover {
    background-color: #3f905e;
}

.campo {
    background-color: #ececec;
    border: 2px solid #dedede;
    border-radius: 4px;
    width: 330px;
    height: 20px;
    padding: 10px 30px 10px 30px;
    color: #7c7b80;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.areanotas {
    margin: 0 auto 0 auto;
    width: 400px;
    margin-top: 50px;
}